 <tr>
 	<td><%= pin.description %></td>
 	<td>
 		<ul class="inline pull-right">
 			<li><%= link_to 'View', pin %></li>
 			<li><%= link_to 'Edit', edit_pin_path(pin) %></li>
 			<li><%= link_to 'Remove', pin, method: :delete, data: { confirm: 'Are you sure?' } %></li>
 		</ul>
 	</td>
</tr>
