<div class="hero-unit">
    <h1>Welcome to PIN&middot;UP!</h1>
    <p>Pin up images of your favorite things to your wall and show 'em off.</p>
    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>