@import 'variables';
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'typography';
@import 'responsive';



.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
	background: #f04155;
	background: -moz-linear-gradient(top,  #f04155 0%, #d63b4b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f04155), color-stop(100%,#d63b4b));
	background: -webkit-linear-gradient(top,  #f04155 0%,#d63b4b 100%);
	background: -o-linear-gradient(top,  #f04155 0%,#d63b4b 100%);
	background: -ms-linear-gradient(top,  #f04155 0%,#d63b4b 100%);
	background: linear-gradient(to bottom,  #f04155 0%,#d63b4b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04155', endColorstr='#d63b4b',GradientType=0 );

}
.navbar .brand {
	@include text-shadow;
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: white;
	i {
		font-size: 14px;
		padding: 0 2px;
		vertical-align: top;
		margin-top: 3px;
	}
	&:hover {
		color: $yellow;
	}
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  text-decoration: none;
  background-color: #D63B4B;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > li > a {
	@include text-shadow;
}
.hero-unit {

	h1 {
		@include margin-bottom;
		text-shadow: 2px 2px 4px rgba(72, 72, 72, .8);
		filter: dropshadow(color=#484848, offx=2, offy=0);
	}
	p {
		@include margin-bottom;
		font-size: 20px;
	}
	i {
		font-size: 20px;
		vertical-align: middle;
	}

	.btn-large {
		color: $white;
		font-size: 28px;
		margin-top: 20px;
		padding: 18px 26px;

		&:hover {
			color: darken($white, 10%);
		}
	}

}
.alert {
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e9e9e9;
}
.alert-notice {
	color: #2e5127;
	background-color: #84cc77;
}
.form-actions {
	padding: 0;
	background: none;
	border-top: none;
}
.table-striped tbody > tr > td,
.table-striped tbody > tr > th {
  background-color: #f9f9f9;
}
.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #F04155;
  color: #ffffff;
  border-top: 1px solid #bc0f23;
  border-bottom: 1px solid #bc0f23;
}
.table-striped tbody > tr:nth-child(even) a {
	color: #ffffff;
}
.table-striped tbody > tr:nth-child(even) a:hover {
	color: #dddddd;
}
.table-striped td {
	padding-bottom: 2px;
}


.pin-controls a {
	text-decoration: none;
}
.pin-controls a:hover {
	color: #bc0f23;
}
i[class^="icon-"], i[class*=" icon-"] {
	padding-right: 4px;
}

footer {
	margin-top: 50px;
	padding-top: 30px;
	border-top: 1px solid $brown;
}